In [2]:
age = 25
print(age)

25

In [6]:
name = "Anish"
print(name)

Anish

In [8]:
price = 69.69
print(price)

69.69

In [12]:
is_active = True
print(is_active)

True

In [14]:
a = 2
b = 3

In [22]:
result = a + b
print("the sum of a,b is %d" %result)

the sum of a,b is 5

In [24]:
first_name = "Kaipa"
last_name = "Anish"

In [32]:
Full_name = first_name + " " +last_name
print("The full name is %s" %Full_name)

The full name is Kaipa Anish

In [34]:
L = 10
B = 5.5
area = L * B

In [36]:
print("the area of the rectangel is %s" %area)

the area of the rectangel is 55.0