In [1]:
print(3 + 5)
print(3.5 - 3.5)
print(5 * 55)
print(3 / 2)
print(2 ** 3)
print(7 % 2)
print(3 // 2)

8
0.0
275
1.5
8
1
1

In [2]:
print(type(10)) #int
print(type(1.1)) #float
print(type(3 + 2j)) #complex
print(type("kaipa")) #string
print(type({'name':'senapati'})) #dictionary will be used in cases like student name, roll_number, grade 
print(type([1,2,3])) #list
print(type({1,2,1.1,1.1})) #set doesnt accept duplicates
print(type((1.1,1.1,1))) #kmmm doesnt accepts duplicates and follows a accending 
print(type(3 == 4)) 
print(3 == 4)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
False

In [12]:
list1 = [1,1,1,2,3,4,5]
if len(list1) != len(set(list1)):
    print("The list contains duplicates")
    print("this is the original list %s" % list1)
    print("this is the list after removing duplicates %s" % set(list1))

The list contains duplicates
this is the original list [1, 1, 1, 2, 3, 4, 5]
this is the list after removing duplicates {1, 2, 3, 4, 5}

In [14]:
tuple1 = (9,8,7,1,1,5) 
print(tuple1)

(9, 8, 7, 1, 1, 5)

In [5]:
set1 = {2,2,4,1,1}
print(set1)

{1, 2, 4}

In [115]:
first_name = 'Kaipa'
last_name = 'Anish'
job = "Student"
place = "Hyderabad"
full_name = first_name  + " " + last_name
print(full_name)

Kaipa Anish

In [35]:
print(len(first_name) > len(last_name))

False

In [45]:
language = "Python"
a,b,c,d,e,f= language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [61]:
first_letter = language[0]
first_letter
last_letter = language [-1]
last_letter
print(language[0:6:2])
print(language[1:6:3])

Pto
yo

In [63]:
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [67]:
print(f"ur first anme is {first_name} and ur last name is {last_name}") # i used a f before " " this is a f string

ur first anme is Kaipa and ur last name is Anish

In [99]:
tasks = "hi perform different operations on me"
print(tasks.capitalize()) 
print(tasks.count('p')) # repetition of a string
print(tasks.count('f', 7, 14)) # 7 and 14 are indexes u are checkin gor occurance of f form index 7-13
print(tasks.count("f"))
print(tasks.count('op')) 
print(tasks.endswith("on"))
print(tasks.endswith("me"))

Hi perform different operations on me
2
1
3
1
False
True

In [101]:
print(tasks.find("p")) #finds the index of the given string
print(tasks.find ("ff"))

3
13

In [111]:
tasks = "hi\tperform\tdifferent\toperations\ton\tme"
print(tasks.expandtabs()) #it make sures the word starts on the 8 factors but not give 8 spaces every time
print(tasks.expandtabs(11))

hi      perform different       operations      on      me
hi         perform    different  operations on         me

In [119]:
print("Hi my first name is {} and my second name is {} im a {} from {}". format(first_name, last_name, job, place))

Hi my first name is Kaipa and my second name is Anish im a Student from Hyderabad

In [125]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [129]:
r = 10
pi = 3.14
area = pi * r**2
print("the radius of the circle is {} " .format(area))

the radius of the circle is 314.0

In [141]:
tasks = "hi perform different operations on me"
print(tasks.isalpha()) # false because spaces are given
print(first_name.isalpha())
print(tasks.isalnum())
print(tasks.isdecimal())
print(tasks.isdigit())
print(tasks.isidentifier()) #check if its a valid identifier 
print(tasks.isupper())
print(tasks.islower())

False
True
False
False
False
False
False
True

In [147]:
skills = ["html", "css" , "java"]
result = "#, ".join(skills)
print(result)

html#, css#, java

In [165]:
challenge = 'thirty days of python t'
print(challenge.strip("thir"))
print(challenge.strip('of')) # removes the given string from the ebgining and the ending of the string but not in between

y days of python
thirty days of python t

In [167]:
print(tasks.replace("operations" , "tasks"))

hi perform different tasks on me

In [179]:
print(tasks.split())

['hi', 'perform', 'different', 'operations', 'on', 'me']

In [185]:
print(tasks.title())

Hi Perform Different Operations On Me

In [187]:
print(tasks.swapcase())

HI PERFORM DIFFERENT OPERATIONS ON ME