In [2]:
tup1 = ()
tup2 = (10,30,60)
tup3 = (10.77,30.66,60.89)
tup4 = ('one','two' , "three")
tup5 = ('Asif', 25 ,(50, 100),(150, 90))
tup6 = (100, 'Asif', 17.765)
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [4]:
len(tup7)

6

In [6]:
tup2[1]

30

In [8]:
tup2.index(60)

2

In [12]:
tup7[3][0]

150

In [14]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [16]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [18]:
mytuple[0:3]

('one', 'two', 'three')

In [22]:
mytuple[-3:]

('six', 'seven', 'eight')

In [24]:
mytuple[-2:]

('seven', 'eight')

In [30]:
for i in mytuple:
    print(f"{i} is a member of mytuple")

one is a member of mytuple
two is a member of mytuple
three is a member of mytuple
four is a member of mytuple
five is a member of mytuple
six is a member of mytuple
seven is a member of mytuple
eight is a member of mytuple

In [36]:
for index, value in enumerate(mytuple):
    print(f"{index} index of mytuple is {value}")

0 index of mytuple is one
1 index of mytuple is two
2 index of mytuple is three
3 index of mytuple is four
4 index of mytuple is five
5 index of mytuple is six
6 index of mytuple is seven
7 index of mytuple is eight

In [40]:
for index, value in enumerate(mytuple,start = 1):
    print(index,value)

1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eight

In [42]:
mytuple.count("one")

1

In [44]:
"ten" in mytuple

False

In [46]:
if "three" in mytuple:
    print(" Three in present in the tuple ")
else:
    print("three is not present in the tuple ")

 Three in present in the tuple

In [50]:
if "ten" in mytuple:
    prnt("ten in present in mytuple ")
else:
    print("ten in not present in mytuple")

ten in not present in mytuple

In [61]:
set1 = {3,2,4,5,1,2,4,1,7,5,0}
set1

{0, 1, 2, 3, 4, 5, 7}

In [63]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [67]:
A.difference(B)

{1, 2, 3}

In [71]:
A.difference_update(B)

In [73]:
A

{1, 2, 3}

In [75]:
A = {1,2,3,4,5}

In [77]:
A

{1, 2, 3, 4, 5}

In [79]:
A.discard(10)

In [81]:
A.discard(1)

In [83]:
A

{2, 3, 4, 5}

In [87]:
A.add(1)

In [91]:
A

{1, 2, 3, 4, 5}

In [97]:
A.update(B) #Combines the given sets without duplicates

In [99]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [101]:
B

{4, 5, 6, 7, 8}

In [103]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [107]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [109]:
A.intersection(B)

{4, 5}

In [111]:
A.symmetric_difference_update(B)

In [113]:
print( A, B)

{1, 2, 3, 6, 7, 8} {4, 5, 6, 7, 8}

In [115]:
A = {1,2,3,4,5}
A

{1, 2, 3, 4, 5}

In [117]:
emp1 = {"Name" : "Anish", "Phno" : 8431764215, "city" : "HYD"}

In [119]:
emp2 = {"Name" : "Kabiir", "Phno" : 9393931717, "city" : "DEL"}

In [121]:
emp1

{'Name': 'Anish', 'Phno': 8431764215, 'city': 'HYD'}

In [127]:
emp1.values()

dict_values(['Anish', 8431764215, 'HYD'])

In [129]:
emp1.get("Name")

'Anish'

In [131]:
emp1.items()

dict_items([('Name', 'Anish'), ('Phno', 8431764215), ('city', 'HYD')])

In [133]:
emp2.pop("Phno")

9393931717

In [135]:
emp2

{'Name': 'Kabiir', 'city': 'DEL'}

In [139]:
emp2.popitem()

('city', 'DEL')

In [141]:
emp2

{'Name': 'Kabiir'}

In [143]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}

In [145]:
mydict.values()

dict_values(['one', 'two', ['asif', 'john', 'Maria']])

In [147]:
mydict.get("A")

['asif', 'john', 'Maria']

In [149]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'a': None, 'b': None, 'c': None}

In [165]:
del mydict2
v = 1,2,3,4
mydict2 = dict.fromkeys(keys,v)

In [167]:
mydict2

{'d': (1, 2, 3, 4), 'a': (1, 2, 3, 4), 'b': (1, 2, 3, 4), 'c': (1, 2, 3, 4)}

In [169]:
del mydict2

In [171]:
v = 1,2,3,4
mydict2 = dict.fromkeys(keys,v)

In [173]:
mydict2

{'d': (1, 2, 3, 4), 'a': (1, 2, 3, 4), 'b': (1, 2, 3, 4), 'c': (1, 2, 3, 4)}

In [175]:
mydict["d"] = 12

In [177]:
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'd': 12}

In [179]:
mydict2["d"] = 12
mydict2

{'d': 12, 'a': (1, 2, 3, 4), 'b': (1, 2, 3, 4), 'c': (1, 2, 3, 4)}

In [182]:
dict2[2] = "hima"

NameError: name 'dict2' is not defined

In [ ]:
dict