In [1]:
#Print numbers from 1 to 10 using a for loop:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#Calculate the sum of numbers from 1 to 10 using a for loop:
sum_of_numbers = 0
for i in range(1, 11):
    sum_of_numbers += i 
print("Sum of numbers from 1 to 10 is:", sum_of_numbers)

Sum of numbers from 1 to 10 is: 55

In [3]:
#Print the elements of a list using a for loop:
my_list = ['apple', 'banana', 'cherry']
for fruit in my_list:
    print(fruit)

apple
banana
cherry

In [4]:
#4. Calculate the product of elements in a list using a for loop:
product_of_elements = 1
for number in [1, 2, 3, 4, 5]:
    product_of_elements *= number
print("Product of elements in the list is:", product_of_elements)

Product of elements in the list is: 120

In [7]:
#Print even numbers from 1 to 10 using a for loop:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [8]:
#Print numbers in reverse from 10 to 1 using a for loop:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
#Print characters of a string using a for loop:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

In [10]:
#Find the largest number in a list using a for loop:
my_numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]
largest_number = my_numbers[0]
for number in my_numbers:
    if number > largest_number:
        largest_number = number
print("Largest number in the list is:", largest_number)

Largest number in the list is: 9

In [12]:
#Find the average of numbers in a list using a for loop:
my_numbers = [10, 20, 30, 40, 50]
sum_of_numbers = 0
count = 0
for number in my_numbers:
    sum_of_numbers += number
    count += 1
average = sum_of_numbers / count
print("Average of numbers in the list is:", average)

Average of numbers in the list is: 30.0

In [13]:
#Print all uppercase letters in a string using a for loop:
my_string = "Hello World"
for char in my_string:
    if char.isupper():
        print(char)

H
W

In [15]:
#Count the number of vowels in a string using a for loop:
my_string = "Hello World"
vowels = "aeiouAEIOU"
count_vowels = 0
for char in my_string:
    if char in vowels:
        count_vowels += 1
print("Number of vowels in the string is:", count_vowels)

Number of vowels in the string is: 3

In [16]:
#Print a pattern of stars using nested for loops:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()  # Move to the next line after each row

*
**
***
****
*****

In [18]:
#Calculate factorial of a number using a while loop:
def factorial(n):
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result
print("Factorial of 5 is:", factorial(5))

Factorial of 5 is: 120

In [1]:
#Find the first occurrence of a number in a list using a while loop:
numbers = [4, 7, 2, 9, 7, 5]
target = 7

i = 0
while i < len(numbers):
    if numbers[i] == target:
        print("First occurrence of", target, "found at index", i)
        break
    i += 1

First occurrence of 7 found at index 1

In [ ]:
#Calculate the sum of numbers from 1 to 100 using a while loop:
sum = 0 
for i in range(0,101):
    sum = sum +i 
print("Sum of numbers from 0 to 100 is:", sum)

Sum of numbers from 1 to 100 is: 5050

In [4]:
#Find all prime numbers between 1 and 50 using nested for and if:
for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [5]:
#Print numbers divisible by 3 or 5 from 1 to 20 using a for loop:
for i in range(1, 21):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

3
5
6
9
10
12
15
18
20

In [6]:
#Print a list of squares of numbers from 1 to 5 using a list comprehension:
squares = [i**2 for i in range(1, 6)]
print("Squares of numbers from 1 to 5:", squares)

Squares of numbers from 1 to 5: [1, 4, 9, 16, 25]

In [7]:
#Print the Fibonacci sequence up to the 10th term using a while loop:
a, b = 0, 1
count = 0

while count < 10:
    print(a)
    a, b = b, a + b
    count += 1

0
1
1
2
3
5
8
13
21
34

In [8]:
#Find the common elements in two lists using a for loop:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common = []

for item in list1:
    if item in list2:
        common.append(item)

print("Common elements:", common)

Common elements: [3, 4, 5]

In [11]:
#Print numbers in a list until a negative number is encountered using a while loop:
numbers = [1, 2, 3, -1, 4, 5]
for number in numbers:
    if number <0:
        break
    print(number)

1
2
3

In [12]:
#Print numbers from 1 to 5, except 3 using a for loop and continue statement:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [14]:
#Print numbers from 1 to 10. If a number is divisible by 4, stop the loop using a for loop and break statement:
for i in range(1, 11):
    if i % 4 == 0:
        break
    print(i)

1
2
3

In [15]:
#Print numbers from 1 to 10. If a number is even, skip it using a for loop and else clause:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [16]:
#Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause:
for i in range(1, 11):
    if i % 2 == 0:
        break
    print(i)

1

3